<ng-container *ngIf="showsTooltip">
  <div
      class="question"
      [style.top]="getLoverPosition() + 'px'"
      [style.left]="leftPosition + 'px'"
  >
    <div class="question-wrapper">
      <div class="question-number-wrapper">
        <div class="question-number">{{questionNumber + 1}} ВОПРОС</div>
      </div>
      <div class="question-title">
        {{questionStatistic.questionContent}}
      </div>
        <div class="answer-wrapper">
          <div *ngFor="let answerVariant of questionStatistic.answerStatistic.answerVariants;
           let answerVariantIndex = index">
            <div
                class="percent"
                [ngClass]="{correctPercent: isCorrectAnswer(answerVariantIndex)}"
            >{{answerVariant.answersPercent}}%</div>
            <div class="answer">
              <div class="answer-textarea">
                {{answerVariant.variant}}
              </div>
              <div class="radio-wrapper">
                <div
                    class="radio"
                    [ngClass]="{correct: isCorrectAnswer(answerVariantIndex)}"
                ></div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</ng-container>
