.test-wrapper {
  outline: #42445A solid 4px;
  border-radius: 14px;
  height: 100px;
  display: flex;
}

.test-content {
  display: flex;
  height: 100px;
  margin-right: 10px;
}

.name {
  font-family: 'Oswald';
  color: #42445A;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  width: 180px;
  display: flex;
  align-items: center;
  margin-left: 14px;
  background-color: #DDEAEE;
}

.qr-code-wrapper {
  display: flex;
  width: 170px;
}

.qr-code {
  height: 80px;
  margin-top: 10px;
}

.test-id-wrapper {

}

.test-id {
  height: 40px;
  vertical-align: bottom;
  display: table-cell;
  font-weight: 700;
  font-size: 22px;
  color: #42445A;
  font-family: 'Oswald';
  background-color: #DDEAEE;
  font-style: normal;
  margin-top: 10px;
}

.test-id:hover {
  color: #2F3034;
}

.link {
  height: 30px;
  font-weight: 200;
  font-size: 24px;
  text-decoration-line: underline;
  color: #42445A;
  font-family: 'Oswald';
  background-color: #DDEAEE;
  font-style: normal;
  margin-bottom: 20px;
}

.link:hover {
  color: #2F3034;
}

.date {
  font-weight: 200;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 84px;
}

.del-wrapper {
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.lil-button-wrapper {
  height: 26px;
  margin-right: 8px;
}

.lil-button {
  background-color: #DDEAEE;
}

.test-statistic {
  background-color: #42445A;
  display: flex;
  width: 550px;
  outline: #42445A solid 4px;
  border-radius: 14px;
}

.question-diagram {
  height: 100px;
  outline: #42445A solid 4px;
  border-radius: 14px;
  margin-right: 4px;
  background-color: #FF595E;
  display: flex;
  align-items: flex-end;
}

.correct-answers {
  border-radius: 14px;
  background-color: #35B85A;
}

.red {
  border-radius: 14px;
  background-color: #FF595E;
}

.yellow {
  background-color: #FFCA3A;
}

.green {
  background-color: #35B85A;
}

.blue {
  border-radius: 14px;
  background-color: #1982C4;
}

.question-diagram:last-child {
  margin-right: 0px;
}

.answers {
  border-radius: 14px;
  background-color: #35B85A;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* */
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

  .test-wrapper {
    height: 200px;
  }

  .test-content {
    width: 320px;
    flex-flow: row wrap;
  }

  .test-statistic {
    display: none;
  }

  .name {
    height: 100px;
    width: 146px;
    font-size: 18px;
  }

  .qr-code-wrapper {
    height: 100px;
    width: 150px;
  }

  .test-id-wrapper {
    height: 100px;
  }

  .date {
    height: 100px;
  }

  .del-wrapper {
    height: 100px;
  }

  .test-id {
    font-size: 18px;
  }

  .link {
    font-size: 20px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
