.input.ng-touched.ng-invalid {
  border-color: #FF595E;
}

.question {
  border: #42445A solid 6px;
  width: 430px;
  height: 380px;
  border-radius: 14px;
}

.question-wrapper {
  margin: auto;
  max-width: 394px;
}

.question-number-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.question-number {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.del {
  background-color: #DDEAEE;
}

.question-title {
  background-color: #DDEAEE;
  font-family: 'Oswald';
  font-size: 18px;
  color: #42445A;
  height: 85px;
  border-radius: 14px;
  border: 4px solid #42445A;
  padding: 10px;
  padding-top: 5px;
  margin: auto;
  width: 394px;
  margin-top: 5px;
}

.question-title:hover {
  border-color: #2F3034;
}

.question-title:focus {
  border-color: #2F3034;
}

.answer-wrapper {
  margin: auto;
  margin-top: 6px;
  display: grid;
  grid-template-columns: 194px 194px;
  gap: 6px 6px;
}

.answer {
  background-color: #DDEAEE;
  height: 100px;
  border-radius: 14px;
  border: 4px solid #42445A;
  width: 194px;
  display: flex;
}

.answer:hover {
  border-color: #2F3034;
}

.answer:hover .radio{
  outline-color: #2F3034;
}

.answer:focus {
  border-color: #2F3034;
}

.answer:focus .radio{
  outline-color: #2F3034;
}

.answer-textarea {
  font-family: 'Oswald';
  font-size: 18px;
  color: #42445A;
  height: 92px;
  width: 162px;
  padding: 10px;
  padding-top: 5px;
  background-color: #DDEAEE;
  border-radius: 14px;
}

.radio-wrapper {
  width: 24px;
}

.del {
  margin-left: 6px;
  margin-top: 6px;
}

.radio {
  margin-top: 6px;
  border-radius: 14px;
  outline: #42445A solid 4px;
  width: 24px;
  height: 62px;
}

.red {
  background-color: #FF595E;
}

.yellow {
  background-color: #FFCA3A;
}

.green {
  background-color: #35B85A;
}

.blue {
  background-color: #1982C4;
}

.addAnswer {
  background-color: #DDEAEE;
  height: 100px;
  border-radius: 14px;
  border: 4px solid #42445A;
  width: 194px;
}

.correct {
  background-color: #35B85A;
}

.wrong {
  background-color: #FF595E;
}
.question-title.ng-touched.ng-invalid {
  border-color: #FF595E;
}

.answer_invalid {
  border-color: #FF595E;
}

.answer_invalid_radio {
  outline-color: #FF595E;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* */
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

  .question {
    max-width: 320px;
    height: 535px;
    margin: auto;
  }

  .question-wrapper {
    max-width: 280px;
  }

  .del {
    background-color: #DDEAEE;
  }

  .question-title {
    max-width: 280px;
  }

  .answer-wrapper {
    grid-template-columns: 280px;
  }

  .answer {
    height: 85px;
    width: 280px;
  }


  .answer-textarea {
    height: 77px;
    width: 256px;
  }

  .addAnswer {
    height: 85px;
    width: 280px;
  }

  .radio {
    height: 47px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
