<p>Введите название теста</p>
<input type="text" [ngModel]="title">
<div *ngFor="let _ of countQuestions; let questionNumber = index">
  <app-question
      [questionNumber]="questionNumber"
      [savingQuestionsObservable$]="savingQuestionsObservable$"
      (transmittingCreatedQuestion)="saveQuestion($event)"
  ></app-question>
  <button (click)="v(questionNumber)">----</button>
</div>
<button (click)="addQuestion()">добавить вопрос</button>
<button (click)="savingQuestions$.next()">даллее</button>
<div *ngIf="num">
  {{num}}
  <ngx-qrcode
      [value]="'http://localhost:4200/test/' + num.toString()"
  ></ngx-qrcode>
</div>
