<div *ngIf="createdTestId; else create">
  <p>Код теста: {{createdTestId}}</p>
  <p>Ссылка: </p>
  <a [routerLink]="['/test', createdTestId]">{{'https://swipepick-kolchin031.b4a.run/test/' + createdTestId.toString()}}</a>
  <p>Qr-code</p>
  <ngx-qrcode
      [value]="'https://swipepick-kolchin031.b4a.run/test/' + createdTestId.toString()"
  ></ngx-qrcode>
</div>
<ng-template #create>
  <div class="wrapper">
    <div class="test-name-block">
      <input class="test-name" type="text" placeholder="Введите название теста" [formControl]="title">
      <button class="create" [disabled]="validation()" (click)="savingQuestions$.next()">СОЗДАТЬ</button>
    </div>
    <div class="questions-wrapper">
      <div *ngFor="let _ of numberOfQuestions; let questionNumber = index">
        <app-question #question
                      [questionNumber]="questionNumber"
                      [savingQuestionsObservable$]="savingQuestionsObservable$"
                      (transmittingCreatedQuestion)="saveQuestion($event)"
                      (deleteQuestionEvent)="del($event)"
        ></app-question>
      </div>
      <button class="addQuestion" (click)="addQuestion()">
        <img src="../../../../assets/images/plus%202.svg">
      </button>
    </div>
  </div>
</ng-template>
