.registration_inputs {
  display: grid;
  grid-template-columns: 450px;
  gap: 10px;
}

.input_wrapper {
  font-weight: 700;
  display: grid;
  font-size: 20px;
  grid-template-columns: 350px;
  margin: auto;
}

.send_button {
  background-color: #DDEAEE;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 20px;
  color: #42445A;
  border-radius: 14px;
  height: 54px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 25px;
  border: #42445A 5px solid;
  width: 350px;
}

.send_button:hover {
  border-color: #2F3034;
  color: #2F3034;
}

.send_button:focus {
  border-color: #2F3034;
  color: #2F3034;
}

.input {
  background-color: #DDEAEE;
  font-family: 'Oswald';
  font-size: 18px;
  color: #42445A;
  height: 54px;
  border-radius: 14px;
  border: 4px solid #42445A;
  padding-left: 10px;
}


.input:hover {
  border-color: #2F3034;
}

.input:focus {
  border-color: #2F3034;
}

.form_wrapper {
  margin: auto;
  width: 450px;
  margin-top: 100px;
}

.login_form {
  background-color: #DDEAEE;
  border-radius: 14px;
  outline: solid #42445A 6px;
  margin-top: 10px;
  padding-top: 20px;
}

.logo {
  margin: 106.5px;
}
/*-----------------------*/
.wrapper {
  margin: auto;
  width: 650px;
  margin-top: 50px;
}

.question {
  border-radius: 14px;
  font-weight: 700;
  font-size: 32px;
  height: 150px;
  width: 650px;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  vertical-align: bottom;
  display: table-cell;
}

.responses {
  display: grid;
  grid-template-columns: 320px 320px;
  gap: 18px;
  margin-top: 50px;
}


.response {
  width: 320px;
  height: 120px;
  background-color: #DDEAEE;
  font-family: 'Oswald';
  color: #42445A;
  font-weight: 700;
  font-size: 24px;
  word-wrap: break-word;
}

.response_wrap {
  background-color: #DDEAEE;
  border-radius: 14px;
  outline: #42445A solid 6px;
  width: 320px;
  height: 150px;
}

.response_wrap:hover {
  outline-color: #2F3034;
}

.response_wrap:hover .response{
  color: #2F3034;
}

.response_wrap:hover .color{
  outline-color: #2F3034;
}

.number {
  font-weight: 700;
  font-size: 36px;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 25px;
}

.logo-fix {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 25px;
}

.result_wrapper {
  background-color: #DDEAEE;
  outline: solid #42445A 6px;
  font-weight: 700;
  font-size: 36px;
  margin: auto;
  width: 450px;
  border-radius: 14px;
  margin-top: 100px;
  padding-bottom: 25px;
}

.text {
  margin-top: 15px;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  vertical-align: middle;
}

.result {
  margin-top: 60px;
  font-size: 82px;
}

.button_finish {
  display: block;
  background-color: #DDEAEE;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 20px;
  color: #42445A;
  border-radius: 14px;
  margin: auto;
  border: #42445A 5px solid;
  width: 350px;
  height: 54px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
  margin-top: 60px;
}

.button_finish:hover {
  border-color: #2F3034;
  color: #2F3034;
}

.loading {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 300px;
}

.input.ng-touched.ng-invalid {
  border-color: #FF595E;
}

.color {
  height: 30px;
  border-radius: 14px;
  outline: #42445A solid 6px;
}

.red {
  background-color: #FF595E;
}

.yellow {
  background-color: #FFCA3A;
}

.green {
  background-color: #35B85A;
}

.blue {
  background-color: #1982C4;
}

@media screen and (max-width: 401px) and (max-height: 751px){
  .form_wrapper {
    width: 340px;
  }

  .logo {
    margin: 52px;
  }

  .registration_inputs {
    grid-template-columns: 300px;
    width: 300px;
    margin: auto;
  }

  .input_wrapper {
    grid-template-columns: 280px;
  }

  .send_button {
    width: 280px;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-fix {
    position: static;
  }

  .number {
    position: static;
  }

  .wrapper {
    margin: auto;
    width: 340px;
  }

  .question {
    font-size: 26px;
    width: 340px;
  }

  .response_wrap {
    width: 340px;
  }

  .response {
    width: 340px;
    font-size: 20px;
  }

  .result_wrapper {
    width: 340px;
  }

  .text {
    font-size: 48px;
  }

  .result {
    margin-top: 60px;
    font-size: 76px;
  }

  .button_finish {
    width: 300px;
  }

  .form_wrapper {
    margin-top: 100px;
  }

  .wrapper {
    margin-top: 10px;
  }

  .question {
    height: 90px;
  }

  .responses {
    display: block;
    margin-top: 20px;
  }

  .response_wrap {
    height: 100px;
    border-radius: 10px;
    margin-top: 18px;
  }

  .color {
    height: 20px;
    border-radius: 10px;
  }

  .response {
    height: 80px;
  }
}

@media screen and (min-width: 401px) and (max-width: 420px) and (min-height: 751px) and (max-height: 940px) {
  .form_wrapper {
    width: 380px;
  }

  .logo {
    margin: 72px;
  }

  .registration_inputs {
    grid-template-columns: 340px;
    width: 340px;
    margin: auto;
  }

  .input_wrapper {
    grid-template-columns: 320px;
  }

  .send_button {
    width: 320px;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-fix {
    position: static;
  }

  .number {
    position: static;
  }

  .wrapper {
    margin: auto;
    width: 380px;
  }

  .question {
    font-size: 30px;
    width: 380px;
  }

  .response_wrap {
    width: 380px;
  }

  .response {
    width: 380px;
    font-size: 24px;
  }

  .result_wrapper {
    width: 380px;
  }

  .text {
    font-size: 48px;
  }

  .result {
    margin-top: 60px;
    font-size: 76px;
  }

  .button_finish {
    width: 340px;
  }

  .form_wrapper {
    margin-top: 160px;
  }

  .wrapper {
    margin-top: 10px;
  }

  .question {
    height: 110px;
  }

  .responses {
    display: block;
    margin-top: 20px;
  }

  .response_wrap {
    height: 136px;
    border-radius: 13px;
    margin-top: 18px;
  }

  .color {
    height: 26px;
    border-radius: 13px;
  }

  .response {
    height: 110px;
  }

  .result_wrapper {
    margin-top: 100px;
  }
}

@media screen and (max-width: 401px) and (max-height: 940px) and (min-height: 751px){
  .form_wrapper {
    width: 340px;
  }

  .logo {
    margin: 52px;
  }

  .registration_inputs {
    grid-template-columns: 300px;
    width: 300px;
    margin: auto;
  }

  .input_wrapper {
    grid-template-columns: 280px;
  }

  .send_button {
    width: 280px;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-fix {
    position: static;
  }

  .number {
    position: static;
  }

  .wrapper {
    margin: auto;
    width: 340px;
  }

  .question {
    font-size: 26px;
    width: 340px;
  }

  .response_wrap {
    width: 340px;
  }

  .response {
    width: 340px;
    font-size: 20px;
  }

  .result_wrapper {
    width: 340px;
  }

  .text {
    font-size: 48px;
  }

  .result {
    margin-top: 60px;
    font-size: 76px;
  }

  .button_finish {
    width: 300px;
  }

  .form_wrapper {
    margin-top: 160px;
  }

  .wrapper {
    margin-top: 10px;
  }

  .question {
    height: 110px;
  }

  .responses {
    display: block;
    margin-top: 20px;
  }

  .response_wrap {
    height: 136px;
    border-radius: 13px;
    margin-top: 18px;
  }

  .color {
    height: 26px;
    border-radius: 13px;
  }

  .response {
    height: 110px;
  }

  .result_wrapper {
    margin-top: 100px;
  }
}
