/* header главной страницы*/

.main-header {
  background-color: #DDEAEE;
  font-weight: 500;
  font-size: 20px;
  color: #42445A;
  height: 68px;
  position: sticky;
  border-bottom: #42445A solid 4px;
  top: 0;
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapper {
  max-width: 1100px;
  margin: auto;
}

.main-nav {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
  height: 48px;
}

.logo {
  z-index: 100
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-item {
  margin-right: 50px;
}

.site-navigation-item:hover {
  color: #2F3034;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-item:last-child:hover {
  color: #2F3034;
}

.authorization {
  background-image: url("../../assets/images/entrance.svg");
  background-position: right;
  background-size: 29.6px;
  background-repeat: no-repeat;
  padding-right: 29.6px;
}

.authorization:hover {
  background-image: url("../../assets/images/entrance-2.svg");
  color: #2F3034;
}
/* main главной страницы*/

/* секция главного описания */
.main-main {
  margin-top: 25px;
  margin-bottom: 75px;
}

.hero {
  display: grid;
  grid-template-columns: 242px 1fr;
  gap: 50px;
  border: #42445A solid 6px;
  background-color: #DDEAEE;
  border-radius: 20px;

  color: #42445A;
  padding: 30px 60px;
}

.img-phone-version {
  grid-row: span 2;
}

.main-description {
  font-weight: 500;
  font-size: 26px;
}

.main-heading {
  font-weight: 700;
  font-size: 44px;
  margin: 20px 0;

}

.little-navigation {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 24px;
}

.little-navigation-item-link {
  background-color: #DDEAEE;
  border-radius: 15px;
  padding: 10px;
  margin-right: 15px;
  border: #42445A solid 4px;
}

.little-navigation-item-link:hover {
  color: #2F3034;
  border-color: #2F3034;
}

.main-heading-description {
  padding-right: 100px;
}

/* секция плюсов */

.pluses {
  color: #42445A;
  margin-top: 150px;
}

.about-heading {
  font-weight: 700;
  font-size: 48px;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 50px 25px;

  font-weight: 500;
  font-size: 24px;
  margin-top: 40px;
}

.advantages-item {
  background-position: left;
  background-size: 72px;
  background-repeat: no-repeat;
  padding-left: 84px;
}

/* картинки плюсов */

.img-swipe {
  background-image: url("../../assets/images/swipe.svg");
}

.img-statistics {
  background-image: url("../../assets/images/statistics.svg");
}

.img-qr-code {
  background-image: url("../../assets/images/qr-code.svg");
}

.img-interface {
  background-image: url("../../assets/images/interface.svg");
}

.img-comfort {
  background-image: url("../../assets/images/comfort.svg");
}

.img-topic {
  background-image: url("../../assets/images/topic.svg");
}

/* секция инструкции*/

.manual {
  color: #42445A;
  margin-top: 150px;
}

.manual-heading {
  font-weight: 700;
  font-size: 40px;
}

.manual-flex-box {
  display: flex;
  flex-wrap: wrap;

  margin-top: 15px;
}

.img-video {
  height: 420px;
  width: 700px;
}

.manual-list {
  width: 385px;
  font-weight: 500;
  font-size: 26px;
  margin-left: 15px;
}

.manual-list-item {
  margin-top: 25px;
}

.manual-list-item:first-child {
  margin-top: 0;
}

/* footer главной страницы */

.main-footer {
  background-color: #8CACD0;
  height: 350px;
}



.open{
  display: flex !important;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  background-color: #3E424B;
  color: #FAF6F2;
  padding: 0 40px;
}

.nav{
  display: flex;
}

.burger{
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span{
  height: 4px;
  width: 80%;
  transform: scale(1);
  background-color: #42445A;
}

.burger::before, .burger::after{
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #42445A;
  transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }

.burger.active span { transform: scale(0) }

.burger.active::before{
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}



/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

  /* */
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .main-header {
    padding-right: 0;
    font-size: 26px;
  }

  .burger { display: flex }

  .nav{
    display: none;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0; left: 0; right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #DDEAEE;
    animation: burgerAnimation 0.4s;
    border-bottom: #42445A solid 4px;
  }

  .nav ul{
    flex-direction: column;
    row-gap: 30px;
  }

  .site-navigation-item {
    margin-bottom: 10px;
  }
  /* */
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

  .img-phone-version {
    display: none;
  }

  .hero {
    display: block;
    max-width: 320px;
    margin: auto;
    padding: 0;
  }

  .main-heading-description {
    padding-right: 0;
  }

  .main-heading {
    text-align: center;
    font-size: 32px;
    margin: 20px auto;
    max-width: 280px;
  }

  .main-description {
    font-size: 24px;
    text-align: center;
    margin: auto;
    max-width: 280px;
  }

  .little-navigation {
    align-items: center;
    justify-content: space-between;
    margin: 45px auto;
    max-width: 250px;
  }

  .little-navigation-item-link {
    margin-right: 0px;
  }

  .pluses {
    max-width: 320px;
    margin: auto;
    margin-top: 100px;
  }

  .about-heading {
    font-size: 36px;
    text-align: center;
  }

  .advantages {
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px 25px;
    margin-top: 25px;
  }

  .manual {
    margin: auto;
    margin-top: 100px;
    max-width: 320px;
  }

  .manual-heading {
    text-align: center;
    font-size: 28px;
  }

  .img-video {
    height: 192px;
    width: 320px;
  }

  .manual-list {
    display: none;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
