<header class="main-header">
  <div class="wrapper">
    <nav class="main-nav">
      <a class="logo" [routerLink]="['/']">
        <img src="./assets/images/logo2.svg" alt="logo"/>
      </a>
      <ul class="site-navigation">
        <li class="site-navigation-item">
          <a [routerLink]="['/profile']">СОЗДАННЫЕ</a>
        </li>
        <li class="site-navigation-item">
          <a [routerLink]="['/profile', 'creating']">СОЗДАТЬ</a>
        </li>
        <li class="site-navigation-item">
          <a [routerLink]="['/profile', 'settings']">НАСТРОЙКИ</a>
        </li>
        <li class="site-navigation-item">
          <a [routerLink]="['/profile', 'help']">ПОМОШЬ</a>
        </li>
        <li class="site-navigation-item">
          <a [routerLink]="['/']" (click)="logOut()">ВЫЙТИ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>

