.wrapper {
  margin: auto;
  max-width: 1100px;
}

.test-name-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  margin-top: 40px;
}

.test-name {
  background-color: #DDEAEE;
  font-family: 'Oswald';
  font-size: 18px;
  color: #42445A;
  height: 46px;
  border-radius: 14px;
  outline: 4px solid #42445A;
  width: 360px;
  padding-left: 10px;
}

.test-name:hover {
  border-color: #2F3034;
}

.test-name:focus {
  border-color: #2F3034;
}

.create {
  background-color: #DDEAEE;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 20px;
  color: #42445A;
  border-radius: 14px;
  height: 54px;
  border: #42445A 5px solid;
  width: 130px;
}

.button_wrapper {
  background-color: #DDEAEE;
  border-radius: 14px;
  outline: 4px solid #42445A;
  height: 46px;
}

.sortButton {
  color: #42445A;
  background-color: #DDEAEE;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  border-radius: 14px;
  height: 46px;
  width: 100px;
}

.sortButton:hover {
  color: #2F3034;
}

.button_switch_activated {
  color: #42445A;
  background-color: #DDEAEE;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  border-radius: 14px;
  height: 46px;
  outline:4px solid #42445A;
  width: 100px;
}

.login {
  margin-right: 4px;
}

.create-test {
  background-color: #DDEAEE;
  border-radius: 14px;
  outline: 4px solid #42445A;
  height: 46px;
  width: 46px;
}

.tests-wrapper {
  margin-top: 20px;
}

.create-test-2 {
  outline: #42445A solid 4px;
  border-radius: 14px;
  height: 100px;
  display: flex;
  margin-top: 20px;
}

.create-test-2-button {
  outline: #42445A solid 4px;
  border-radius: 14px;
  height: 100px;
  width: 100px;
  background-color: #DDEAEE;
}

.loading {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 300px;
}

.working {
  margin: auto;
  font-size: 50px;
  width: 260px;
  margin-top: 40px;
}
